<nav class="bg-muted w-full border-b">
    <div class=" px-4 py-4 lg:py-0">
        <div class="flex items-center justify-between gap-24">
            <div class="flex items-center gap-2 overflow-hidden"><a hreflang="zh-cn" class="block flex-none"
                                                                    href="/zh-cn">
                <div class="flex"><img alt="Stable Diffusion Online" loading="lazy" width="40" height="40"
                                       decoding="async" data-nimg="1" class="h-10 w-auto" src="/images/logo.png"
                                       style="color: transparent;"></div>
            </a>
                <div class="ml-4 flex lg:hidden">
                    <button type="button"
                            class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"><span
                            class="sr-only">Open main menu</span>

                    </button>
                </div>
                <button class="items-center justify-center text-sm font-semibold focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-offset-background focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 text-primary hover:bg-accent hover:text-accent-foreground rounded-full ml-2 hidden h-8 w-8 p-1 transition-opacity lg:block opacity-0">

                </button>
                <div dir="ltr" class="relative flex-grow overflow-hidden"
                     style="position: relative; --radix-scroll-area-corner-width: 0px; --radix-scroll-area-corner-height: 0px;">
                    <style>[data-radix-scroll-area-viewport] {
                        scrollbar-width: none;
                        -ms-overflow-style: none;
                        -webkit-overflow-scrolling: touch;
                    }

                    [data-radix-scroll-area-viewport]::-webkit-scrollbar {
                        display: none
                    }</style>
                    <div data-radix-scroll-area-viewport="" class="h-full w-full rounded-[inherit] py-4"
                         style="overflow: scroll hidden;">
                        <div style="min-width: 100%; display: table;">
                            <ul class="no-scrollbar -mb-4 mt-1 hidden list-none items-center justify-start gap-6 overflow-x-auto px-1 text-sm lg:flex lg:text-base">
                                <li><a hreflang="zh-cn"
                                       class=" hover:text-primary flex items-center gap-2 border-b-2 px-1 transition-all border-primary text-primary font-bold"
                                       href="/zh-cn/app/image-generator" style="padding-bottom: 1.125rem;">

                                    <span class=" whitespace-nowrap">文本转图片</span></a></li>
                                <li><a hreflang="zh-cn"
                                       class=" hover:text-primary flex items-center gap-2 border-b-2 px-1 transition-all border-transparent"
                                       href="/zh-cn/app/image-to-image" style="padding-bottom: 1.125rem;">

                                    <span class=" whitespace-nowrap">图片转图片</span></a></li>
                                <li><a hreflang="zh-cn"
                                       class=" hover:text-primary flex items-center gap-2 border-b-2 px-1 transition-all border-transparent"
                                       target="_blank" href="/zh-cn/background-remover"
                                       style="padding-bottom: 1.125rem;">

                                    <span class=" whitespace-nowrap">背景移除器</span></a></li>
                                <li><a hreflang="zh-cn"
                                       class=" hover:text-primary flex items-center gap-2 border-b-2 px-1 transition-all border-transparent"
                                       target="_blank" href="/zh-cn/magic-eraser" style="padding-bottom: 1.125rem;">

                                    <span class=" whitespace-nowrap">魔术橡皮擦</span></a></li>
                                <li><a hreflang="zh-cn"
                                       class=" hover:text-primary flex items-center gap-2 border-b-2 px-1 transition-all border-transparent"
                                       target="_blank" href="/zh-cn/edit-anything" style="padding-bottom: 1.125rem;">

                                    <span class=" whitespace-nowrap">编辑任何内容</span></a></li>
                                <li><a hreflang="zh-cn"
                                       class=" hover:text-primary flex items-center gap-2 border-b-2 px-1 transition-all border-transparent"
                                       target="_blank" href="/zh-cn/image-upscaler" style="padding-bottom: 1.125rem;">

                                    <span class=" whitespace-nowrap">图像放大器</span></a></li>
                                <li><a hreflang="zh-cn"
                                       class=" hover:text-primary flex items-center gap-2 border-b-2 px-1 transition-all border-transparent"
                                       target="_blank" href="/zh-cn/ai-clothes-changer"
                                       style="padding-bottom: 1.125rem;">

                                    <span class=" whitespace-nowrap">人工智能换衣机</span></a></li>
                                <li><a hreflang="zh-cn"
                                       class=" hover:text-primary flex items-center gap-2 border-b-2 px-1 transition-all border-transparent"
                                       target="_blank" href="/zh-cn/ai-portrait-maker"
                                       style="padding-bottom: 1.125rem;">

                                    <span class=" whitespace-nowrap">人工智能肖像制作者</span></a></li>
                                <li><a hreflang="zh-cn"
                                       class=" hover:text-primary flex items-center gap-2 border-b-2 px-1 transition-all border-transparent"
                                       target="_blank" href="/zh-cn/drawing-into-picture"
                                       style="padding-bottom: 1.125rem;">

                                    <span class=" whitespace-nowrap">绘图</span></a></li>
                                <li><a hreflang="zh-cn"
                                       class=" hover:text-primary flex items-center gap-2 border-b-2 px-1 transition-all border-transparent"
                                       href="/zh-cn/app/settings" style="padding-bottom: 1.125rem;">

                                    <span class=" whitespace-nowrap">设置</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <button class="items-center justify-center text-sm font-semibold focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-offset-background focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 text-primary hover:bg-accent hover:text-accent-foreground rounded-full hidden h-8 w-8 p-1 transition-opacity lg:block">

                </button>
            </div>
            <div class="ml-auto mr-4 flex flex-none items-center justify-end gap-2">
                <button class="items-center justify-center text-sm font-semibold focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-offset-background focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 rounded-full px-4 py-2 hidden h-8 cursor-default bg-gradient-to-r from-cyan-400 to-blue-300 transition-all hover:opacity-75 lg:flex"
                        data-state="closed">

                    积分： 10
                </button>
                <a hreflang="zh-cn" href="/zh-cn/app/settings/account/billing">
                    <button class="items-center justify-center text-sm font-semibold focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-offset-background focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 rounded-full px-4 py-2 hidden h-8 bg-gradient-to-r from-cyan-500 to-blue-500 transition-all hover:opacity-75 lg:flex">
                        获取积分
                    </button>
                </a>
                <button class="focus-visible:ring-primary rounded-full outline-none focus-visible:ring-2" type="button"
                        id="radix-:r5:" aria-haspopup="menu" aria-expanded="false" data-state="closed"><span
                        class="relative flex h-8 w-8 shrink-0 overflow-hidden rounded-full"><img
                        class="aspect-square h-full w-full"
                        src="https://lh3.googleusercontent.com/a/ACg8ocJQMhrNwnQTK6C8QTsLijtqOVqcqxHxOp5cagCFNB7e=s96-c"></span>
                </button>
            </div>
            <div style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border-width: 0px; display: none;"></div>
        </div>
    </div>
</nav>