<<<<<<< HEAD
@font-face {
  font-family: 'font1';
  src: url('font1.ttf');
}
.container {
  display: flex;
  height: 100vh;
  background: linear-gradient(to bottom left, rgb(255, 238, 255), rgb(221, 255, 238));
}
.left{
  border-right: 2px solid #0c0c0c;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%; 
}
.right{
  border-left: 2px solid #060606;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%; 
}
.title3 {
  font-size: 35px;
  text-align: center;
  color:rgb(243, 129, 205);
  font-family:'font1';
  margin-top: 50px;
  margin-bottom: 50px;
}
.image-container {
  width: 500px;
  height: 400px;
  border: 2px dashed #aaa;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.image {
  max-width: 100%;
  max-height: 100%;
}
.button{
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid #4CAF50;
  color: #4CAF50;
  background-color: transparent;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.button:hover {
  background-color: #4CAF50;
  color: #ffffff;
}
.button:focus {
  outline: none;
}
.button:active {
  transform: translateY(2px);
}
.upload-text {
  font-size: 16px;
  color: #666;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-input {
  font-size: 20px;
  margin-top: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline;
}

.generate-button {
  place-items:center;
  width: 50%;
  margin-top: 20px; 
  background: linear-gradient(to bottom right, rgb(204, 238, 85), rgb(255, 187, 255));
  font-Size:24px;
  font-Family:font1;
  border-radius:10px;
  padding:5px;
}

.generate-button:hover {
  background-color: #0056b3;
}
input[type="file"] {

  display: none;
}


.custom-file-upload {
  margin-top: 30px;
  font-family: 'font2';
  font-size: 20px;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(to bottom right, rgb(245, 216, 255), rgb(180, 226, 255));
  border: 2px solid #000000;
}

.custom-file-upload:hover {
  background-color: #0056b3;
}
.line4{
  color:rgb(30, 66, 99);
  font-size: 30px;
  text-align:left;
  font-family: 'font2';
  margin-top: 30px;
  margin-bottom: 0px;
  display: inline;
}









.App {
  text-align: center;
}

.drop-zone {
  width: 500px;
  height: 400px;
  border: 2px dashed #aaa;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.dropped-image {
  max-width: 100%;
  max-height: 300px;
  margin-top: 10px;
}

.method-buttons {
  margin: 20px auto;
}

.method-buttons button {
  margin: 0 10px;
}

.detect-button {
  place-items:center;
  width: 30%;
  margin-top: 20px; 
  background: linear-gradient(to bottom right, rgb(204, 238, 85), rgb(255, 187, 255));
  font-Size:24px;
  font-Family:font1;
  border-radius:10px;
  padding:5px;
}

.result {
  margin-top: 20px;
  font-weight: bold;
}
.attack{
  margin-top: 30px;
  font-family: 'font2';
  font-size: 20px;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(to bottom right, rgb(245, 216, 255), rgb(180, 226, 255));
  border: 2px solid #000000;
}

=======
@font-face {
  font-family: 'font1';
  src: url('font1.ttf');
}
.container {
  display: flex;
  height: 100vh;
}
.left,
.right{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%; 
}
.title3 {
  font-size: 35px;
  text-align: center;
  color:rgb(243, 129, 205);
  font-family:'font1';
  margin-top: 30px;
  margin-bottom: 30px;
}
.image-container {
  width: 500px;
  height: 400px;
  border: 2px dashed #aaa;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.upload-text {
  font-size: 16px;
  color: #666;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-input {
  margin-top: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.generate-button {
  margin-top: 10px;
  padding: 8px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.generate-button:hover {
  background-color: #0056b3;
}
>>>>>>> 15f938e283bf9c2736c1b10510f9f3486d738d43
