@font-face {
    font-family: 'font1';
    src: url('font1.ttf');
}
@font-face {
    font-family: 'font2';
    src: url('font2.ttf');
}
.title{
    font-size: 35px;
    text-align: center;
    color:rgb(243, 129, 205);
    font-family:'font1';
    margin-top: 10px;
    margin-bottom: 0px;
}
.line1{
    color:rgb(30, 66, 99);
    font-size: 30px;
    text-align:left;
    font-family: 'font2';
    margin-top: 10px;
    margin-bottom: 0px;
    display: inline;
}
.line2{
    font-size: 30px;
    text-align:left;
    color:rgb(30, 66, 99);
    font-family: 'font2';
    margin-top: 10px;
    margin-bottom: 10px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin-top: 5px;

}
.grid-item img {
    width: 80%;
    height: 70%;
}
.style{
    text-align: center;
    font-size:10px;
    margin: 0px;
}
.style1{
    font-size: 20px;
    display: inline;
}
.inline{
    display: inline;
}